div.radialMenu {
    position: relative;
    margin: 10px;
    user-select: none;
    -moz-user-select: none;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

div.radialMenu > svg.icons {
    display: none;
}

div.radialMenu > svg.menu {
    position: absolute;
    overflow: visible;
    transition: 0.2s;
    transition-timing-function: ease-out;
}

div.radialMenu > svg.menu.inner {
    transform: scale(0.66) rotate(-10deg);
    opacity: 0;
    visibility: hidden;
}

div.radialMenu > svg.menu.outer {
    transform: scale(1.5) rotate(10deg);
    opacity: 0;
    visibility: hidden;
}


div.radialMenu > svg.menu > g > path {
    fill: #ffffff;
}

div.radialMenu > svg.menu > g.sector > path {
    cursor: pointer;
}

div.radialMenu > svg.menu > g.sector > text,
div.radialMenu > svg.menu > g.sector > use {
    cursor: pointer;
}
div.radialMenu > svg.menu > g.sector > text,
div.radialMenu > svg.menu > g.sector > use {
    fill: #0080ff;
    color: #0080ff;
}
div.radialMenu > svg.menu > g.sector.selected > text,
div.radialMenu > svg.menu > g.sector.selected > use {
    fill: white;
    color: white;
}

div.radialMenu > svg.menu > g.sector.selected > path {
    fill: #0080ff !important;
}

div.radialMenu > svg.menu > g.center:hover > circle {
    fill: #0080ff;
}

div.radialMenu > svg.menu > g.center > circle {
    cursor: pointer;
    fill: white;
}

div.radialMenu > svg.menu > g.center > text,
div.radialMenu > svg.menu > g.center > use {
    cursor: pointer;
    fill: #0080ff;
}

div.radialMenu > svg.menu > g.center:hover > text,
div.radialMenu > svg.menu > g.center:hover > use {
    fill: white;
}